<div class="content hero is-info">
    <div class="container nayburhead hero-body is-vcentered">
        <div class="columns is-vcentered">
            <div class="column is-one-third is-left">
                <h1 class="title">Naybur</h1>
                <p class="subtitle">Shout to (or at) your neighbours</p>
            </div>
            <div class="column postcode-area is-hidden">
                <div class="is-hidden results">
                    <p id="address" class="title is-small is-spaced"></p>
                    <p class="subtitle"><span id="postcode"></span> <span><a id="reset" class="button is-small is-outlined is-white"><em>Change</em></a></p>
                    <p class="is-small postcode-link"></p>
                </div>
                <form id="postcode_lookup">
                    <p>Enter your postcode below:</p>
                    <div class="field is-grouped">
                        <p class="control has-icons-left is-expanded">
                            <input class="pcinput input" type="text" placeholder="Enter Postcode">
                        </p>
                        <p class="control">
                            <button id="lookup" class="button is-white is-outlined" onclick="return false;">Submit</button>
                        </p>    
                    </div>
                    <p class="help is-danger is-hidden">That postcode was invalid.</p>
                </form>
            </div>
        </div>
    </div>
</div>